$c-white: #fff;
$c-black: #333;

$c-white-o: rgba(255, 255, 255, 0.8);
$c-black-o: rgba(0, 0, 0, 0.6);

$fs-12: 12px;
$fs-14: 1.4rem;
$fs-16: 1.6rem;
$fs-18: 1.8rem;
$fs-20: 2rem;
$fs-24: 2.4rem;

$spc-2: 0.2rem;
$spc-4: 0.4rem;
$spc-8: 0.8rem;
$spc-16: 1.6rem;
$spc-24: 2.4rem;
$spc-32: 3.2rem;
$spc-40: 4rem;
$spc-48: 4.8rem;
$spc-56: 5.6rem;
$spc-64: 6.4rem;

$max-content: 1024px;
