@use "../setting/variables" as v;
@use "../setting/mq" as mq;
@use "../setting/mixin" as m;

.card01 {
  display: inline-block;
  width: 472px;
  max-width: calc(100% - v.$spc-24 * 2);
  padding: v.$spc-24;
  text-align: left;
  &.--1 {
    margin-top: v.$spc-32;
    margin-bottom: v.$spc-32;
    background-color: v.$c-white-o;
  }
}
